@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

/*

font-family: 'Manrope', sans-serif;  400 500 600 700 800

*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  text-decoration: none;
  font-style: normal;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.menu__icon {
  display: none;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__menu {
  display: flex;
}
.logo {
  width: 120px;
  margin-top: 16px;
}
.header__menu {
  margin-top: 29px;
}
.header__menu a + a {
  margin-left: 50px;
}
.section1 {
  padding-bottom: 315px;
}
.section1__wrapper {
  display: flex;
  justify-content: space-between;
}
.section1__content {
  margin-top: 100px;
}
.section1__title {
  position: relative;
  font-size: 64px;
  font-weight: 800;
  max-width: 20ch;
  line-height: 85px;
}
.section1__tag {
  position: absolute;
  bottom: 10%;
  right: 28%;
  color: #fff;
  padding: 9px 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background-color: #ec5238;
  border-radius: 4px;
  transform: rotate(-3.79deg);
}
.section1__text_wrapper {
  display: flex;
}
.section1__text {
  font-weight: 600;
  max-width: 22ch;
  font-size: 36px;
  line-height: 50px;
}
.line {
  display: inline-block;
  height: 1px;
  width: 30px;
  margin-right: 30px;
  margin-top: 30px;
  background-color: #333333;
}
.section1__link {
  display: inline-block;
  margin-top: 92px;
  margin-left: 20px;
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #5ea7dd;
}
.section1__link::after {
  position: absolute;
  content: "";
  top: 9px;
  right: -34px;
  width: 15px;
  height: 11px;
  background-repeat: no-repeat;
  background-image: url(../img/icon_arrows_top.svg);
}

.section1__pic {
  position: relative;
}
.vector_group {
  margin-right: -156px;
  margin-top: 40px;
}

.girl__illutration {
  position: absolute;
  top: 10%;
  left: 13%;
}

.clock__illutration {
  position: absolute;
  bottom: 0%;
  right: -19%;
}
.section1__pic_tag {
  position: absolute;
  max-width: 23ch;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  bottom: 6%;
  left: -2%;
  padding: 12px 32px 13px 22px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.section2 {
  background-color: #333333;
  color: #fff;
  position: relative;
}
.background__stripes {
  position: absolute;
  bottom: 0;
  left: 3%;
}
.section2__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 107px;
}
.section2__text_wrapper {
  display: flex;
}
.section2__text_title {
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  margin-bottom: 70px;
  max-width: 15ch;
}
.section2__text_line {
  background-color: #fff;
  margin-top: 15px;
}
.section2__text {
  max-width: 34ch;
}
.section2__list {
  min-width: 540px;
  position: relative;
  margin-top: 150px;
}
.section2_list_item {
  position: relative;
  border-top: 1px solid #fff;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.section2_list_item-num {
  position: absolute;
  left: 0;
  top: 20px;
  font-weight: 500;
}
.section2_list_text_wrapper {
  margin-top: 50px;
  margin-left: 60px;
}
.section2_list_text {
  max-width: 230px;
}
.section2_list_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 64px;
  margin-bottom: 40px;
}
.section2_list_icons {
  display: flex;
}
.icon_ai {
  margin-left: 20px;
}
.section3 {
  padding-top: 177px;
}
.section3__text_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 162px;
  align-items: flex-end;
}
.section3_title_wrapper {
    position: relative;
}
.section3_title {
  position: relative;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  max-width: 20ch;
}
.section3_title_line {
  position: absolute;
  bottom: -47px;
  left: 0;
  height: 2px;
  width: 82px;
  background-color: #333333;
}
.section3__items {
  display: flex;
  justify-content: space-between;
}
.section3__item_wrapper {
  max-width: 255px;
  height: 316px;
  padding-top: 35px;
  text-align: center;
  border-radius: 12px;
  transition: all .5s;
}
.section3__item_icon {
  margin-bottom: 40px;
}
.section3__item_title {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;
}
.section3__item_text {
  font-size: 14px;
  line-height: 20px;
  color: #747474;
}
.section3__item_wrapper:not(:hover) {
  background-color: #fff;
}
.section3__item_wrapper:hover {
  background-color: #f9f9f9;
}
