@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

/*

font-family: 'Manrope', sans-serif;  400 500 600 700 800

*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  text-decoration: none;
  font-style: normal;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.menu__icon {
  display: none;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__menu {
  display: flex;
}
.logo {
  width: 120px;
  margin-top: 16px;
}
.header__menu {
  margin-top: 29px;
}
.header__menu a + a {
  margin-left: 50px;
}
.section1 {
  padding-bottom: 315px;
}
.section1__wrapper {
  display: flex;
  justify-content: space-between;
}
.section1__content {
  margin-top: 100px;
}
.section1__title {
  position: relative;
  font-size: 64px;
  font-weight: 800;
  max-width: 20ch;
  line-height: 85px;
}
.section1__tag {
  position: absolute;
  bottom: 10%;
  right: 28%;
  color: #fff;
  padding: 9px 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background-color: #ec5238;
  border-radius: 4px;
  transform: rotate(-3.79deg);
}
.section1__text_wrapper {
  display: flex;
}
.section1__text {
  font-weight: 600;
  max-width: 22ch;
  font-size: 36px;
  line-height: 50px;
}
.line {
  display: inline-block;
  height: 1px;
  width: 30px;
  margin-right: 30px;
  margin-top: 30px;
  background-color: #333333;
}
.section1__link {
  display: inline-block;
  margin-top: 92px;
  margin-left: 20px;
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #5ea7dd;
}
.section1__link::after {
  position: absolute;
  content: "";
  top: 9px;
  right: -34px;
  width: 15px;
  height: 11px;
  background-repeat: no-repeat;
  background-image: url(../img/icon_arrows_top.svg);
}

.section1__pic {
  position: relative;
}
.vector_group {
  margin-right: -156px;
  margin-top: 40px;
}

.girl__illutration {
  position: absolute;
  top: 10%;
  left: 13%;
}

.clock__illutration {
  position: absolute;
  bottom: 0%;
  right: -19%;
}
.section1__pic_tag {
  position: absolute;
  max-width: 23ch;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  bottom: 6%;
  left: -2%;
  padding: 12px 32px 13px 22px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.section2 {
  background-color: #333333;
  color: #fff;
  position: relative;
}
.background__stripes {
  position: absolute;
  bottom: 0;
  left: 3%;
}
.section2__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 107px;
}
.section2__text_wrapper {
  display: flex;
}
.section2__text_title {
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  margin-bottom: 70px;
  max-width: 15ch;
}
.section2__text_line {
  background-color: #fff;
  margin-top: 15px;
}
.section2__text {
  max-width: 34ch;
}
.section2__list {
  min-width: 540px;
  position: relative;
  margin-top: 150px;
}
.section2_list_item {
  position: relative;
  border-top: 1px solid #fff;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.section2_list_item-num {
  position: absolute;
  left: 0;
  top: 20px;
  font-weight: 500;
}
.section2_list_text_wrapper {
  margin-top: 50px;
  margin-left: 60px;
}
.section2_list_text {
  max-width: 230px;
}
.section2_list_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 64px;
  margin-bottom: 40px;
}
.section2_list_icons {
  display: flex;
}
.icon_ai {
  margin-left: 20px;
}
.section3 {
  padding-top: 177px;
}
.section3__text_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 162px;
  align-items: flex-end;
}
.section3_title_wrapper {
    position: relative;
}
.section3_title {
  position: relative;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  max-width: 20ch;
}
.section3_title_line {
  position: absolute;
  bottom: -47px;
  left: 0;
  height: 2px;
  width: 82px;
  background-color: #333333;
}
.section3__items {
  display: flex;
  justify-content: space-between;
}
.section3__item_wrapper {
  max-width: 255px;
  height: 316px;
  padding-top: 35px;
  text-align: center;
  border-radius: 12px;
  transition: all .5s;
}
.section3__item_icon {
  margin-bottom: 40px;
}
.section3__item_title {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;
}
.section3__item_text {
  font-size: 14px;
  line-height: 20px;
  color: #747474;
}
.section3__item_wrapper:not(:hover) {
  background-color: #fff;
}
.section3__item_wrapper:hover {
  background-color: #f9f9f9;
}
.section4 {
    padding-top: 120px;
    overflow: hidden;
    padding-bottom: 106px;
}
.section4 .section3_title_wrapper {
    margin-bottom: 150px;
}
.section4__items_wrapper {
    padding: 0 25px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 347px);
    /* grid-template-rows: repeat(auto-fill, 305px); */
    grid-auto-rows: 305px;
    max-width: 1920px;
    gap: 30px;
}


/* __________________################## */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.section4__item {
    background-color: transparent;
    /* width: 350px;
    height: 305px; */
    border-radius: 12px;
    perspective: 600px; /* Remove this if you don't want the 3D effect */
    position: relative;
  }

  .section4__item_back_title {
      font-weight: 700;
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 25px;
  }
  .section4__item_back_text {
      margin-bottom: 35px;
  }
  .section4__item_back_link {
      display: inline-block;
      font-weight: 600;
      font-size: 14px;
      line-height: 45px;
    padding: 0 23px;
      border-radius: 12px;
      border: 1px solid #fff;
  }
  
  /* This container is needed to position the front and back side */
  .section4__item_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform .7s;
    transform-style: preserve-3d;
    /* cursor: pointer; */
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .section4__item:hover .section4__item_inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .section4__item_front, .section4__item_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .section4__img_wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  /* Style the front side (fallback if image is missing) */
  .section4__item_front {
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: contain; */
    
  }
  
  /* Style the back side */
  .section4__item_back {
    padding: 60px;
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    border-radius: 12px;
  }
  .card1 .section4__item_back {
    background-color: #C29569;
  }

  .card1 .section4__item_front {
    background-image: url(../img/logo_etalon.svg);
  }
  .card2 .section4__item_back {
    background-color: #32731B;
  }

  .card2 .section4__item_front {
    background-image: url(../img/logo_gilgroup.svg);
  }
  .card3 .section4__item_back {
    background-color: #FC5276;
  }

  .card3 .section4__item_front {
    background-image: url(../img/logo_diamond.svg);
  }
  .card4 .section4__item_back {
    background-color: #000;
  }

  .card4 .section4__item_front {
    background-image: url(../img/logo_idhouse.svg);
  }

  .card5 .section4__item_back {
    background-color: #A0552B;
  }
  .card5 .section4__item_front {
    background-image: url(../img/logo_pruss.svg);
  }

  .card6 .section4__item_back {
    background-color: #00D89E;
  }
  .card6 .section4__item_front {
    background-image: url(../img/logo_prontenko.svg);
  }
  .card6 .section4__item_back {
      color: #000;
  }
  .card6 .section4__item_back_link {
      border-color: #000;
  }

  .card7 .section4__item_back {
    background-color: #820BE4;
  }
  .card7 .section4__item_front {
    background-image: url(../img/logo_burlak.svg);
  }

  .card8 .section4__item_back {
    background-color: #74E2DC;
  }
  .card8 .section4__item_front {
    background-image: url(../img/logo_stay.svg);
  }
  .card8 .section4__item_back {
      color: #000;
  }
  .card8 .section4__item_back_link {
      border-color: #000;
  }

  .card9 .section4__item_back {
    background-color: #2B3751;
  }
  .card9 .section4__item_front {
    background-image: url(../img/logo_anna.svg);
  }

  .card10 .section4__item_back {
    background-color: #A269C8;
  }
  .card10 .section4__item_front {
    background-image: url(../img/logo_flanel.svg);
  }

  .card11 .section4__item_back {
    background-color: #F9F9F9;
  }
  .card11 .section4__item_front {
    background-image: url(../img/logo_yantar.svg);
  }
  .card11 .section4__item_back {
      color: #000;
  }
  .card11 .section4__item_back_link {
      border-color: #000;
  }

  .card12 .section4__item_back {
    background-color: #0A747F;
  }
  .card12 .section4__item_front {
    background-image: url(../img/logo_baltic.svg);
  }

  .card13 .section4__item_back {
    background-color: #F7DAD0;
  }
  .card13 .section4__item_front {
    background-image: url(../img/logo_endel.svg);
  }
  .card13 .section4__item_back {
      color: #000;
  }
  .card13 .section4__item_back_link {
      border-color: #000;
  }

  .card14 .section4__item_back {
    background-color: #597954;
  }
  .card14 .section4__item_front {
    background-image: url(../img/logo_green.svg);
  }
  .card15 .section4__item_back {
    background-color: #3C5346;
  }
  .card15 .section4__item_front {
    background-image: url(../img/logo_art.svg);
  }
  .card16 .section4__item_back {
    background-color: #1581FF;
  }
  .card16 .section4__item_front {
    background-image: url(../img/logo_addi.svg);
  }
  .card17 .section4__item_back {
    background-color: #5F805E;
  }
  .card17 .section4__item_front {
    background-image: url(../img/logo_family.svg);
  }
  .card18 .section4__item_back {
    background-color: #264730;
  }
  .card18 .section4__item_front {
    background-image: url(../img/logo_fairy.svg);
  }
  .card19 .section4__item_back {
    background-color: #9CD8F7;
  }
  .card19 .section4__item_front {
    background-image: url(../img/logo_photoschool.svg);
  }
  .card19 .section4__item_back {
      color: #000;
  }
  .card19 .section4__item_back_link {
      border-color: #000;
  }
  .card20 .section4__item_back {
    background-color: #7D0E22;
  }
  .card20 .section4__item_front {
    background-image: url(../img/logo_linil.svg);
  }
  .section4__item_inner.is-flipped {
    transform: rotateY(180deg);
  }
.bottom__banner {
    position: relative;
    padding-top: 96px;
    padding-bottom: 87px;
    background-color: #333333;
    color: #fff;
    overflow: hidden;
}
.bottom__banner_inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.bottom__banner_content {
    margin-bottom: 50px;
}
.bottom__banner_title {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 41px;
}
.bottom__banner_text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 18px;
}
.bottom__banner_logo {
    width: 296px;
}
.bottom__banner_tag {
    position: relative;
    max-width: 21ch;
    padding: 10px 32px 13px 57px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    background-color: rgba(114, 68, 50, 0.5);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    margin-right: 247px;
  }
  .bottom__banner_circle {
      position: absolute;
      bottom: -56%;
      right: 10%;
      width: 581px;
      height: 581px;
      background-color: #434343;
      border-radius: 100%;
  }
  .semi_ring1 {
      position: absolute;
      bottom: 0;
      left: 0;
  }
  .semi_ring2 {
      position: absolute;
      top: 0;
      right: 0;
  }
  .ring_small {
      position: absolute;
      bottom: 45%;
      right: 31%;
  }
  .ring_big {
      position: absolute;
      bottom: 26%;
      right: 6%;
    }
  
    .coffeecup {
        position: absolute;
        bottom: 20%;
        right: 18%;
      }
.footer__inner {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 41px;
}
.footer__logo {
    width: 140px;
    margin-top: 37px;
}
.footer__content {
    margin-left: 140px;
    margin-top: 44px;
    
}
.footer__adress {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 22px;
    max-width: 27ch;
}
.footer__copyright {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}
.footer__diez {
    display: flex;
    align-self: center;
    margin-top: 55px;
    margin-left: auto;
}
.footer__diez_text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-right: 11px;
}
.footer__diez_logo {
    width: 81px;
}